@use "base/reset";

@use "components/card";
@use "components/menu-movil";
@use "components/card-historial";
@use "components/alert";
@use "components/nav-desktop";

@use "page/login";
@use "page/register";
@use "page/perfil";

@use "layout/header";
@use "layout/linea";
@use "layout/main";
@use "layout/productos";
@use "layout/welcome";
@use "layout/resumenes";

@use "layout/footer";
