@use "../utils/mixin" as mix;
@use "../utils/variables-color" as u;

.content-form {
  @include mix.display(flex, center, center);
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  background-position: center;

  .from {
    @include mix.display(flex, stard, stard);
    flex-direction: column;
    gap: 0.1rem;
    background-color: white;
    width: 20rem;
    height: fit-content;
    border-radius: 0.2rem;
    padding: 1rem;
    border: 1px solid rgb(161, 159, 159);

    .content-titel {
      @include mix.display(flex, center, stard);
      color: u.$primari-color;
      font-size: 1.5rem;
      .styleO {
        color: cyan;
      }
    }

    .wrapper-form {
      @include mix.display(flex, center, stard);
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      .content-label_input {
        @include mix.display(flex, space-everly, stard);
        height: fit-content;
        flex-direction: column;
        gap: 1rem;
        padding: 0.7rem;
        .label {
          display: flex;
          gap: 0.5rem;
          flex-direction: column;

          label {
            font-size: 1.2rem;
          }

          input {
            width: fit-content;
            font-size: 1.2rem;
            padding: 0.2rem;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(3, 22, 107);
            background-color: rgb(248, 246, 246);
          }
        }
      }

      .content-btn {
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
        button {
          background-color: u.$primari-color;
          border: none;
          color: white;
          width: 50%;
          padding: 0.7rem;
          cursor: pointer;

          &:hover {
            transition: all 100ms;
            background-color: rgb(7, 121, 121);
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-form {
    @include mix.display(flex, stard, baseline);

    .from {
      position: absolute;
      top: 0;
      height: 100%;
    }
  }
}
