@use "../utils/mixin" as mix;
@use "../utils/variables-color" as u;

.content-form {
  @include mix.display(flex, center, center);
  flex-direction: column;
  gap: 0.5rem;
  min-height: 100vh;
  background-position: center;

  .from {
    @include mix.display(flex, stretch, stretch);
    flex-direction: column;
    gap: 0.1rem;
    background-color: white;
    width: 20rem;
    height: fit-content;
    border-radius: 0.2rem;
    padding: 1rem;
    border: 1px solid rgb(161, 159, 159);

    .content-titel {
      @include mix.display(flex, center, stretch);
      color: u.$primari-color;
      font-size: 1.5rem;
      .styleO {
        color: cyan;
      }
    }

    .wrapper-form {
      @include mix.display(flex, center, center);
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      .content-label_input {
        @include mix.display(flex, space-everly, stretch);
        height: fit-content;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        padding: 0.7rem;
        .label {
          position: relative;
          display: flex;
          gap: 0.5rem;
          flex-direction: column;

          label {
            font-size: 1.2rem;
          }

          input {
            width: 100%;
            font-size: 1.2rem;
            padding: 0.2rem;
            outline: none;
            border: none;
            border-bottom: 1px solid rgb(3, 22, 107);
            background-color: rgb(248, 246, 246);
          }
        }
        .iconEyer {
          position: absolute;
          bottom: 3%;
          right: 2%;
          color: u.$primari-color;
          font-size: 1.2rem;
          cursor: pointer;
          padding: 0.1rem;
          border-radius: 0.2rem;

          &:hover {
            background-color: rgb(211, 208, 208);
          }
        }
      }

      .content-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.5rem;
        button {
          background-color: u.$primari-color;
          border: none;
          color: white;
          width: 50%;
          padding: 0.7rem;
          cursor: pointer;

          &:hover {
            transition: all 100ms;
            background-color: rgb(7, 121, 121);
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-form {
    @include mix.display(flex, stretch, end);

    .from {
      position: absolute;
      top: 0;
      height: 100%;
      width: 28%;
    }
  }
}
