@use "../utils/mixin" as mix;
@use "../utils/variables-color" as u;

.perfil {
  padding: 0.5rem;
  .card-perfil {
    @include mix.display(flex, center, center);
    flex-direction: column;
    gap: 0.3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(224, 222, 222);

    .acount {
      @include mix.display(flex, center, stretch);
      color: rgb(182, 180, 180);
    }

    .content-btn {
      button {
        padding: 0.5rem;
        border: none;
        background-color: u.$primari-color;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: rgb(2, 126, 126);
        }
      }
    }

    .avatar {
      font-size: 3rem;

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00eeffaf;
        border-radius: 999px;
        width: 3rem;
        height: 3rem;
        color: #045361;
        font-size: 2rem;
      }
    }
  }
}

.perfil-info {
  padding: 0.5rem;

  .titel {
    @include mix.display(flex, space-between, center);
    font-size: 1.6rem;
    color: u.$primari-color;

    button {
      font-size: 1.2rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 0.5rem;
      color: u.$primari-color;
      border-radius: 50%;
      &:hover {
        background-color: rgba(68, 214, 214, 0.377);
      }
    }
  }

  .card-perfil {
    @include mix.display(flex, stretch, stretch);
    flex-direction: column;
    gap: 0.3rem;
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(224, 222, 222);

    .content-info-perfil {
      @include mix.display(flex, stretch, stretch);
      flex-direction: column;
      font-size: 1.2rem;
      gap: 1rem;

      .info-perfil {
        @include mix.display(flex, space-between, center);
        gap: 10px;
      }

      input {
        padding: 0.2rem;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid u.$primari-color;
        width: 100%;
        outline: none;
        color: rgb(68, 65, 65);
        background-color: rgb(252, 252, 252);
      }
    }

    .content-btn-perfil {
      @include mix.display(flex, end, stretch);
      padding: 0.2rem;

      .btn {
        background-color: u.$primari-color;
        border: none;
        padding: 0.7rem;
        border-radius: 0.2rem;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: rgb(11, 146, 146);
        }
      }
    }
  }
}

.content-btn-perfil {
  @include mix.display(flex, space-between, center);
  color: white;
  font-size: 1.5rem;
  a {
    color: white;

    &:hover {
      color: rgb(226, 223, 223);
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #pcMovil {
    display: none;
  }
}
