#configuracion y carpetas 
.vscode
node_modules
python
packege-lock.json
packege.json

#js no nesesarios
js/deuda.js
js/egreso.js
js/index.js
js/ingreso.js

#archivos html sin terminar
page/deuda.html
page/egreso.html
page/ingreso.html

Final-JS-Porject.txt
