.nav_link{
    position: relative;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    transition: color 320ms;
}

.nav_link::before{
    content: "";
    width: 100%;
    position: absolute;
    inset: 0;
    border-bottom: 200px solid var(--hoverb);
    border-right: 200px solid transparent;
    border-radius: inherit;
    transform: translateX(-110%);
    transition: 0.6s ease;
    z-index: -1;
}


.nav_link:hover,
.nav_link:focus-visible{
    color: var(--hoverb);
}

.nav_link:hover::before,
.nav_link:focus-visible::before{
    transform: translateY(0);
}

.contenll #deuda:checked + .nav_link{
    color: var(--hoverb);
}

.contenll #deuda:checked + .nav_link::before{
    transform: translateY(0);
}

#btn-modal-d{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0 ; left: 0;
    background: var(--fondocc);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


#btn-modal-d:checked ~ .container-modal{
    display: flex;
}

.content-modal{
    width: 100%;
    max-width: 700px;
    padding: 20px;
    background: var(--fondoc);
}

.tiel-modal{
    font-size: 35px;
    color: var(--txt);
}

.inpu-mudal{
    display: grid;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.inpu-mudal input{
    font-size: 17px;
    width: 100%;
    padding: 15px;
    border: 1px solid #5a5656;
    border-radius: 5px;
    outline: none;
}

.dolares{
    display: flex;
    width: 100%;
    gap: 10px;
}

.bolivares{
    gap: 10px;
}

.inputmm{
    padding: 15px;
    border: 1px solid ;
    border-radius: 5px;
}

.btns{
    display: flex;
    justify-content: flex-end;
}

.btns label{
    font-size:larger;
    color: red;
    margin-right: 15px;
    border: 1px solid red;
    padding: 15px;
    cursor: pointer;
}

.btns button{
    font-size:larger;
    border: none;
    padding: 15px;
    color: #faf8f8;
    background: var(--btn);
    cursor: pointer;
}
