:root {
  --color: #050255;
  --titel: #f5bc03;
  --fondor: #f7f7f7;
  --fondoc: #ffffff;
  --txt: #0cccda;
  --txtdos: #ffffff;
  --txtc: #353434;
  --txtsub: #5a5656;
  --hoverb: #34d1e6;
}

.custom-shape-divider-top-1754052895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1754052895 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 490px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1754052895 .shape-fill {
  fill: var(--color);
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
}

img {
  width: 10rem;
  height: fit-content;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.wolcome {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

hr {
  border: 1px solid gray;
  height: 2rem;
}

.avatar {
  background-color: #0cccda;
  padding: 0.6rem;
  border-radius: 100%;
}

nav {
  background-color: #050255;
  font-size: 1.1rem;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.3rem;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: gray;
}

li:hover {
  color: white;
}

span {
  color: rgb(2, 97, 97);
}

span:hover {
  transform: translateY(-5px);
  transition: all 0.22s;
  color: rgb(0, 214, 214);
}

/* Seccion de saldo */
.content-titel-section {
  color: white;
  font-size: 1.6rem;
}

.content-balance {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.349);
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.card {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgb(199, 199, 199);
}

.card:hover {
  cursor: pointer;
  background-color: rgb(248, 246, 246);
}

.titel-card {
  font-size: 1.2rem;
  font-weight: bold;
}

.data-cuenta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detalleCuanta {
  color: gray;
  font-style: italic;
}

#saldo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0c079c;
}
