$primari-color:#050255;
$primari-optio:#f5bc03;
$primari-fondo:#f7f7f7;
$color-nav: #020a3a;
$primari-text-sub:#353434;
$primari-hoverb:#07d5f0;


/* colores principales */
$primary-color:#142157;
$secondary-color: #15297c;
$tertiary-color:#0cbccc;
$quaternary-color:#107acc;
$quintary-color:#2898ee;