.themeSelector {
  font-size: 1.2rem;
  padding: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.4rem;
  border: none;

  &:hover {
    background-color: rgb(70, 52, 175);
  }
}

.dark {
  display: none;
}
