@use "../utils/variables-color" as u;
@use "../utils/mixin" as mix;

header {
  padding: 0.5rem;

  .content-img {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 2.5rem;
      padding: 0.5rem;
      color: white;

      .styleO {
        color: cyan;
      }
    }
  }

  .content-btn {
    @include mix.display(flex, space-between, stretch);

    #logoutBtn {
      padding: 0.2rem;
      font-size: 1rem;
      border: none;
      background-color: transparent;
      color: u.$primari-asento;
      cursor: pointer;

      &:hover {
        color: rgb(241, 201, 19);
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-btn {
    #logoutBtn {
      display: none;
    }
  }
}
