@use "../utils/mixin" as mix;

.wrapper {
  @include mix.display(flex, stard, stard);
  flex-direction: column;
  width: 100%;
  height: 100%;

  .wrapperdos {
    @include mix.display(flex, space-between, stard);
    flex-direction: column;
    height: 100%;

    .content-main {
      height: 100%;
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    .wrapperdos {
      width: 100%;
      .content-main {
        margin: 0 2rem;
      }
    }
  }
}
