@use "./../utils/mixin" as mix;

.productos {
  @include mix.display(flex, stretch, stretch);
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  .content-titel-section {
    color: rgb(255, 255, 255);
  }
}
