.content-titel-section {
  color: white;
  font-size: 1.6rem;
}

.content-balance {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.349);
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 0.2rem;
  padding: 0.4rem;
}