@use "./../utils/mixin" as mix;
@use "./../utils/variables-color" as u;

.productos {
  @include mix.display(flex, stretch, stretch);
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;

  .content-titel-section {
    color: u.$color-text;
  }
}
