@use "./../utils/variables-color" as u;

.resumenes{
  color:u.$primary-color;
  font-weight: bolder;
  font-size: 25px;
}

.content-resumenes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: orange;

  .content{
    background-color: red;
  }
}

