@use "./../utils/variables-color" as u;

.wolcome {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;

  .avatar {
    background-color: #a5f0ecd8;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
  }
}

.bar-wolcome{
  border: 1px solid gray;
  border-radius: 50%;
  width: 25%;
  justify-self: center;
}




