@use "./../utils/variables-color" as u;
@use "./../utils/mixin" as mix;

.section-welcome {
  @include mix.display(flex, space-between, center);
  flex-direction: row;
  gap: 0.4rem;
  padding: 0.5rem;

  .wolcome {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .avatar {
      cursor: pointer;

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2d9ba3af;
        border-radius: 999px;
        width: 3rem;
        height: 3rem;
        color: #00d9ff;
        font-size: 2rem;
      }
    }
  }

  .dolar {
    @include mix.display(flex, stretch, stretch);
    gap: 0.5rem;
    flex-direction: column;
    background-color: u.$color-text;
    color: u.$primary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;

    .info-dolar {
      @include mix.display(flex, end, stretch);
      gap: 0.3rem;
    }
  }

  .bar-wolcome {
    border: 1px solid rgba(212, 212, 212, 0.315);
    border-radius: 50%;
    width: 30%;
  }
}
