@use "./../utils/variables-color" as u;

.section-welcome{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .wolcome {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
  
    .avatar {
      cursor: pointer;

      .user{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1ec5d1af;
        border-radius: 999px;
        width: 3rem;
        height: 3rem;
        color: #ffffff;
        font-size: 23px;
      }
    }
  }

  .bar-wolcome{
    border: 1px solid rgba(212, 212, 212, 0.315);
    border-radius: 50%;
    width: 30%;
  }
}







