.alert {
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  border-right: 5px solid rgb(34, 158, 3);

  .ico {
    color: blue;
    font-size: 2rem;
  }

  .info-alert {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
