@use "./../utils/mixin" as mix;

.card {
  @include mix.display(flex, space-between, center);
  gap: 10px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(235, 232, 232);

  .info-card {
    @include mix.display(flex, center, stretch);
    flex-direction: column;
    gap: 0.3rem;

    .tipoCuenta {
      font-style: italic;
      color: rgb(131, 129, 129);
    }
  }

  .content-saldo {
    @include mix.display(flex, stretch, stretch);
    flex-direction: column;
    gap: 0.2rem;
    color: rgb(59, 58, 58);
    .saldo {
      display: flex;
      justify-content: end;

      #saldo,
      #saldoDolar {
        font-size: 1.8rem;
      }
    }
  }
}
