@use "./../utils/mixin" as mix;
@use "./../utils/variables-color" as u;

.card {
  @include mix.display(flex, space-between, center);
  gap: 10px;
  background-color: u.$color-card;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid u.$color-card;

  @include mix.dark-mode {
    background-color: u.$color-card;
    border: 1px solid u.$color-card;
  }

  .info-card {
    @include mix.display(flex, center, stretch);
    flex-direction: column;
    gap: 0.3rem;
    color: u.$primary-color;

    .tipoCuenta {
      font-style: italic;
      color: u.$primari-text-sub;
    }
  }

  .content-saldo {
    @include mix.display(flex, stretch, stretch);
    flex-direction: column;
    gap: 0.2rem;
    color: u.$color-black;

    .saldo {
      display: flex;
      justify-content: end;
      gap: 0.3rem;

      #saldo,
      #saldoDolar {
        font-size: 1.8rem;
      }
    }
  }
}
