.card {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgb(199, 199, 199);

  .titel-card {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .data-cuenta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detalleCuanta {
      color: gray;
      font-style: italic;
    }

    .content-saldo{
      display: flex;
      align-items: center;
      gap: 0.3rem;
      #saldo {
        font-size: 1.6rem;
        font-style: italic;
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(248, 246, 246);
  }
}










