.card {
  background-color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 1px solid rgb(199, 199, 199);
}

.card:hover {
  cursor: pointer;
  background-color: rgb(248, 246, 246);
}

.titel-card {
  font-size: 1.2rem;
  font-weight: bold;
}

.data-cuenta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detalleCuanta {
  color: gray;
  font-style: italic;
}

#saldo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0c079c;
}
