@use "../utils/variables-color" as u;
@use "../utils/mixin" as mix;

.nav-movil {
  background-color: u.$color-nav;
  width: 100%;

  .content-menu {
    @include mix.display(flex, space-around, stretch);
    padding: 0.3rem;
    font-size: 1.1rem;
    a {
      &.active {
        color: u.$color-text;
        border-radius: 0.5rem;
        background-color: rgba(192, 188, 188, 0.199);
      }
    }

    .link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: u.$primari-text-sub;
      border-radius: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: rgba(192, 188, 188, 0.199);
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-movil {
    display: none;
  }
}
