@use "./../utils/variables-color" as u;

nav {
  background-color: u.$secondary-color;
  border-radius: 0.5rem;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      color: white;
      border-radius: 0.5rem;

      &:hover {
        color: u.$tertiary-color;
        background-color: rgba(192, 188, 188, 0.199);
      }
      
    }
  }
}








