@use "../utils/variables-color" as u;
@use "../utils/mixin" as mix;

.nav-movil {
  background-color: u.$secondary-color;
  width: 100%;

  .content-menu {
    @include mix.display(flex, space-between, stretch);
    padding: 0.3rem;
    font-size: 1.1rem;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgba(156, 156, 156, 0.719);
      border-radius: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: rgba(192, 188, 188, 0.199);
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-movil {
    display: none;
  }
}
