@use "../utils/mixin" as mix;
@use "../utils/variables-color" as u;

.nav-desktop {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content-desktop {
    width: 17%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;

    .nav-desktop {
      @include mix.display(flex, space-around, stretch);
      flex-direction: column;
      background-color: u.$color-nav-des;
      border-radius: 0 20px 20px 0;
      border: 1px solid u.$color-nav-des;
      width: 100%;
      height: 100%;
      padding: 0.3rem;

      .content-perfil-ul {
        @include mix.display(flex, center, stretch);
        flex-direction: column;
        gap: 2rem;

        .content-titel-des {
          @include mix.display(flex, stretch, center);
          gap: 0.5rem;
          a {
            text-decoration: none;
            color: u.$primary-color;
            font-size: 1.5rem;
          }
        }

        .content-menu {
          overflow: hidden;
          padding: 0.5rem;
          @include mix.display(flex, space-between, stretch);
          gap: 1rem;
          flex-direction: column;

          .link {
            font-size: 1.2rem;
            border-radius: 5px;
            padding: 0.5rem;
            cursor: pointer;
            color: u.$primary-color;

            &:hover {
              background-color: rgb(238, 236, 236);
            }
          }
        }
      }
      .content-btn {
        width: 100%;

        button {
          padding: 0.3rem;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          width: 100%;
          text-align: left;
          background-color: transparent;
          color: u.$primari-asento;
          cursor: pointer;

          &:hover {
            background-color: rgb(252, 248, 192);
            color: rgb(241, 201, 19);
          }
        }
      }
    }
  }

  .active {
    background-color: rgb(238, 236, 236);
  }
}
