@use "./../utils/variables-color" as u;

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100dvb;
  background-color: u.$primari-fondo;
}

a {
  text-decoration: none;
}
